<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Operación</title>
</head>
<body>
    <div>
        <label for="cliente">Cliente</label>
        <select name="cliente" id="">
            {% for ct_nombre_apellido in lista %}
            <option value="{{ct_nombre_apellido}}">{{ct_nombre_apellido}}</option>
            {% endfor %}
        </select>
    </div>
</body>
</html>