<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Operación</title>
</head>
<body>
    <form action="/api/nuevaoperacion" method="POST">
    <div>
        <label for="plan_pago_cliente_01">Cliente 01</label>
        <select name="plan_pago_cliente_01" id="">
            <option value=""></option>
            {% for ct_nombre_apellido in extraccion_lista_clientes %}
            <option value="{{ct_nombre_apellido}}">{{ct_nombre_apellido}}</option>
            {% endfor %}
        </select>
        <a href="{{url_for('main.nuevocliente')}}">Cargar nuevo cliente</a>
    </div>
    <div>
        <label for="plan_pago_cliente_02">Cliente 02</label>
        <select name="plan_pago_cliente_02" id="">
            <option value=""></option>
            {% for ct_nombre_apellido in extraccion_lista_clientes %}
            <option value="{{ct_nombre_apellido}}">{{ct_nombre_apellido}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="plan_pago_codeudor_01">Codeudor 01</label>
        <select name="plan_pago_codeudor_01" id="">
            <option value=""></option>
            {% for cd_nombre_apellido in extraccion_lista_codeudor %}
            <option value="{{cd_nombre_apellido}}">{{cd_nombre_apellido}}</option>
            {% endfor %}
        </select>
        <a href="{{url_for('main.nuevocodeudor')}}">Cargar nuevo codeudor</a>
    </div>
    <div>
        <label for="plan_pago_codeudor_02">Codeudor 02</label>
        <select name="plan_pago_codeudor_02" id="">
            <option value=""></option>
            {% for cd_nombre_apellido in extraccion_lista_codeudor %}
            <option value="{{cd_nombre_apellido}}">{{cd_nombre_apellido}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="plan_pago_codeudor_03">Codeudor 03</label>
        <select name="plan_pago_codeudor_03" id="">
            <option value=""></option>
            {% for cd_nombre_apellido in extraccion_lista_codeudor %}
            <option value="{{cd_nombre_apellido}}">{{cd_nombre_apellido}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="plan_pago_entrega">Monto de la entrega en Guaraníes (solo números)</label>
        <input type="text" name="plan_pago_entrega" id="">
        </input>
    </div>
    <div>
        <label for="plan_pago_cant_cuotas">Cantidad de cuotas (solo números)</label>
        <input type="text" name="plan_pago_cant_cuotas" id="">
        </input>
    </div>
    <div>
        <label for="plan_pago_monto_cuota">Monto de las cuotas (solo números)</label>
        <input type="text" name="plan_pago_monto_cuota" id="">
        </input>
    </div>
    <div>
        <label for="plan_pago_cant_refuerzos">Cantidad de refuerzos (solo números)</label>
        <input type="text" name="plan_pago_cant_refuerzos" id="">
        </input>
    </div>
    <div>
        <label for="plan_pago_monto_refuerzos">Monto de las cuotas (solo números)</label>
        <input type="text" name="plan_pago_monto_refuerzos" id="">
        </input>
    </div>
    <div>

        <!-- VER LA FORMA DE RECORRER TODA LA LISTA -->
        <!-- <label for="plan_pago_id_vehiculo">Vehiculo</label>
        <select name="plan_pago_id_vehiculo" id="">
            <option value=""></option>
            {% for vehiculos in extraccion_lista_vehiculos %}
                {% for vehiculo in range(vehiculos | length) %}
            <option value="{{vehiculos[vehiculo.vehic_id]}}">{{vehiculos[vehiculo.vehic_marca], '/', vehiculos[vehiculo.vehic_modelo], '/', vehiculos[vehiculo.vehic_anho]}}</option>
                {% endfor %}
            {% endfor %} 

             -->
        </select>
        <a href="{{url_for('main.nuevovehiculo')}}">Cargar nuevo vehiculo</a>
    </div>
    <div>
        <button type="submit">Guardar Operación</button>
    </div>
</form>
</body>
</html>